:root {
   color-scheme: dark;
   --main-fc: hsl(180, 100%, 97%);
   --home-bg: hsla(203, 100%, 8%, 1) url('https://i.postimg.cc/QNfn8wFv/b-g1.jpg') no-repeat;
   --main-ff: normal normal 15px/1.2 "Tektur";
   --brsm-fc: hwb(46 0% 0%);
   --overlay: hsla(0, 0%, 0%, .95)
}

*,
*::after,
*::before {
     -webkit-tap-highlight-color: transparent;
                 text-decoration: none;
     -webkit-box-sizing: border-box;
             box-sizing: border-box;
           background: none;
           list-style: none;
        border: none;
        margin: 0;
       padding: 0;
       outline: none
}

[data-current="true"] {
   visibility: visible
}

[data-current="false"] {
   visibility: hidden
}

html {
   height: 100vh;
    width: 100%;
     overflow: hidden;
       -webkit-text-size-adjust: 100%;
          -moz-text-size-adjust: 100%;
           -ms-text-size-adjust: 100%;
               text-size-adjust: 100%;
               color: var(--main-fc);
                   font: var(--main-ff);
      -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none
}

body {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-flow: column nowrap;
       flex-flow: column nowrap;
           background: var(--home-bg);
      background-blend-mode: multiply;
           background-size: 100% 100%;
       overflow: hidden;
       height: 100%;
       width: 100%
}

body, .brsm {
  max-width: 425px;
  position: relative;
  margin-inline: auto
}

::-moz-selection {
   background: transparent
}

::selection {
   background: transparent
}

#preloader {
   position: fixed;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   background: var(--home-bg);
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   z-index: 999;
   width: 100%;
   height: 100%;
   overflow: visible;
   background-blend-mode: multiply;
   background-size: 100% 100%
}

.visible {
   visibility: visible;
   opacity: 1;
   -webkit-transition: opacity 2s linear;
   transition: opacity 2s linear
}

.loader {
   display: block;
   width: 12em;
   height: 12em;
   overflow: visible
}

.loader path.fill {
   fill: #2Af2;
   -webkit-animation: 4s ease-in-out infinite fill;
   animation: 4s ease-in-out infinite fill
}

.loader .dash path {
   stroke: #2AF;
   stroke-width: 1px;
   stroke-linecap: round;
   -webkit-animation: dashArray var(--sped, 2s) ease-in-out infinite, dashOffset var(--sped, 2s) linear infinite;
   animation: dashArray var(--sped, 2s) ease-in-out infinite, dashOffset var(--sped, 2s) linear infinite
}

.loader .dash path.aaa {
   stroke-width: 2px;
   stroke-linecap: butt;
   -webkit-clip-path: path('M 20.4603 48.5493 L 16.6461 46.9584 C 17.3209 48.3794 18.4917 49.5682 20.0447 50.2206 C 23.4007 51.6328 27.2707 50.0262 28.6694 46.6367 C 29.3464 44.9966 29.3509 43.1867 28.6806 41.5422 C 28.0103 39.8977 26.7434 38.6151 25.119 37.9315 C 23.5035 37.2544 21.7741 37.279 20.2547 37.8576 L 24.1961 39.5022 C 26.6719 40.5434 27.8427 43.4124 26.8104 45.9105 C 25.7803 48.4085 22.936 49.5905 20.4603 48.5493 Z');
   clip-path: path('M 20.4603 48.5493 L 16.6461 46.9584 C 17.3209 48.3794 18.4917 49.5682 20.0447 50.2206 C 23.4007 51.6328 27.2707 50.0262 28.6694 46.6367 C 29.3464 44.9966 29.3509 43.1867 28.6806 41.5422 C 28.0103 39.8977 26.7434 38.6151 25.119 37.9315 C 23.5035 37.2544 21.7741 37.279 20.2547 37.8576 L 24.1961 39.5022 C 26.6719 40.5434 27.8427 43.4124 26.8104 45.9105 C 25.7803 48.4085 22.936 49.5905 20.4603 48.5493 Z')
}

.loader .dash path.big {
   stroke-width: 2px;
   -webkit-filter: drop-shadow(0 0 2px #2AF);
   filter: drop-shadow(0 0 2px #2AF)
}

@-webkit-keyframes dashArray {
   0% {
      stroke-dasharray: 0 1 359 0
   }

   50% {
      stroke-dasharray: 0 359 1 0
   }

   100% {
      stroke-dasharray: 359 1 0 0
   }
}

@keyframes dashArray {
   0% {
      stroke-dasharray: 0 1 359 0
   }

   50% {
      stroke-dasharray: 0 359 1 0
   }

   100% {
      stroke-dasharray: 359 1 0 0
   }
}

@-webkit-keyframes dashOffset {
   0% {
      stroke-dashoffset: -5
   }

   100% {
      stroke-dashoffset: -365
   }
}

@keyframes dashOffset {
   0% {
      stroke-dashoffset: -5
   }

   100% {
      stroke-dashoffset: -365
   }
}

@-webkit-keyframes fill {

   30%,
   55% {
      fill: #2AF0
   }
}

@keyframes fill {

   30%,
   55% {
      fill: #2AF0
   }
}

.scale-out {
   -webkit-animation: .5s cubic-bezier(.55, .085, .68, .53) both preloader-out;
   animation: .5s cubic-bezier(.55, .085, .68, .53) both preloader-out
}

@-webkit-keyframes preloader-out {
   0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1
   }

   100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1
   }
}

@keyframes preloader-out {
   0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1
   }

   100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1
   }
}

.ovl-modal {
   opacity: 0;
   visibility: hidden;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--overlay);
   -webkit-transition: 0.4s all;
   transition: 0.4s all;
   z-index: 20
}

.modal {
   opacity: 0;
   width: 70%;
   height: 25%;
   left: 15%;
   position: fixed;
   padding: 1rem;
   border-radius: 13px;
   -webkit-transition: 0.4s all;
   transition: 0.4s all;
   visibility: hidden;
   text-align: center;
   z-index: 30
}

.modal.active,
.ovl-modal.active {
   opacity: 1;
   visibility: visible
}

@media (prefers-reduced-motion:reduce) {

   .modal,
   .ovl-modal {
      -webkit-transition: none;
      transition: none
   }
}

::-webkit-input-placeholder {
   font-size: .8rem
}

::-moz-placeholder {
   font-size: .8rem
}

:-ms-input-placeholder {
   font-size: .8rem
}

::-ms-input-placeholder {
   font-size: .8rem
}

::placeholder {
   font-size: .8rem
}

.home-page {
   position: absolute;
   width: 100%;
   height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   pointer-events: auto;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-flow: column nowrap;
           flex-flow: column nowrap;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   padding-right: .75rem;
   max-width: 425px;
   min-width: 20rem;
   right: 0;
   bottom: 0;
   left: 0
}

.home-page main {
   position: absolute;
   height: 100%;
   top: 0;
   right: 0;
   bottom: 0;
   padding: 0 0.75rem;
   width: calc(100% - 5.5rem);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 1rem;
   justify-content: space-between;
   flex-flow: column nowrap
}

.home-page nav {
   position: absolute;
   height: 100%;
   width: 5.5rem;
   top: 0;
   left: 0;
   bottom: 0;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-flow: column nowrap;
   flex-flow: column nowrap
}

.home-page nav {
   padding: .5rem 0 2rem;
   background: hsla(0, 0%, 100%, .06);
   -webkit-box-shadow: 0 8px 32px hsla(0, 0%, 0%, .4);
   box-shadow: 0 8px 32px hsla(0, 0%, 0%, .4);
   border-right: 1px solid hsla(0, 0%, 100%, .1);
   -webkit-backdrop-filter: blur(7px);
   backdrop-filter: blur(7px);
   -webkit-transition: 0.3s;
   transition: 0.3s
}

.home-page nav .logo {
   width: 5rem;
   height: 2.75rem;
   position: relative;
   display: block;
   background-size: contain;
   -webkit-transition: 0.3s;
   transition: 0.3s
}

.home-page nav.active .logo {
   width: 8rem;
   height: 4rem;
   -webkit-transition: .3s ease;
   transition: .3s ease
}

.home-page nav #navs {
   height: calc(100% - 4rem);
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-flow: column nowrap;
   flex-flow: column nowrap;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   text-align: center;
   color: inherit
}

.home-page nav #navs .item-list {
   position: relative;
   cursor: pointer;
   width: 100%
}

.home-page nav #navs .item-list i {
   font-size: 1.6rem;
   -webkit-transition: 0.3s ease-in;
   transition: 0.3s ease-in
}

.home-page nav #navs .item-list:hover i {
   color: #ffd500
}

.home-page nav #navs .item-list span {
   opacity: 0;
   position: absolute;
   text-transform: uppercase;
   -webkit-transition: 0.3s;
   transition: 0.3s
}

.home-page nav.active {
   width: 10.5rem;
   font: var(--main-ff);
   pointer-events: auto;
   z-index: 1;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease
}

.home-page nav.active #navs {
   -webkit-box-align: end;
   -ms-flex-align: end;
   align-items: flex-end;
   width: 100%
}

.home-page nav.active #navs .item-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-flow: row nowrap;
   flex-flow: row nowrap;
   position: relative;
   width: 100%;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: flex-end;
   padding-right: 1rem;
   gap: 1rem
}

.home-page nav.active #navs .item-list span {
   position: absolute;
   right: 3rem;
   font-size: .85rem;
   line-height: 1.2;
   white-space: nowrap !important;
   opacity: 1;
   -webkit-animation: sidemenu 0.8s cubic-bezier(.215, .61, .355, 1) both;
   animation: sidemenu 0.8s cubic-bezier(.215, .61, .355, 1) both;
   -webkit-animation-delay: 0.3s;
   animation-delay: 0.3s
}

.home-page nav.active #navs .item-list:hover span {
   color: var(--brsm-fc)
}

.home-page nav.active #navs .item-list i {
   font-size: 1rem;
   color: hwb(46 0% 0%);
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease
}

.home-page nav.active .logo {
   width: 8rem;
   height: 4rem;
   -webkit-transition: .3s ease;
   transition: .3s ease
}

@-webkit-keyframes sidemenu {
   0% {
      letter-spacing: 1em;
      opacity: 0
   }

   40% {
      opacity: .6
   }

   100% {
      letter-spacing: normal;
      opacity: 1
   }
}

@keyframes sidemenu {
   0% {
      letter-spacing: 1em;
      opacity: 0
   }

   40% {
      opacity: .6
   }

   100% {
      letter-spacing: normal;
      opacity: 1
   }
}

.home-page header {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 0 .75rem;
   padding-left: 0;
   width: 100%;
   height: 4rem
}

.burger {
  position: relative;
  cursor: pointer;
  scale: 1.35;
  display: block;
  width: 3.5rem;
  height: 3.25rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 1.25rem;
  margin-top: -7.5px;
  overflow: hidden;
}

svg {
   -webkit-transition: -webkit-transform .4s cubic-bezier(.4, 0, .2, 1);
   transition: -webkit-transform .4s cubic-bezier(.4, 0, .2, 1);
   transition: transform .4s cubic-bezier(.4, 0, .2, 1);
   transition: transform .4s cubic-bezier(.4, 0, .2, 1), -webkit-transform .4s cubic-bezier(.4, 0, .2, 1)
}

svg g {
   stroke-width: 8
}

svg g path {
   stroke: hsla(46, 100%, 50%, 1)
}

path {
   -webkit-transition: stroke-dasharray .4s cubic-bezier(.4, 0, .2, 1), stroke-dashoffset .4s cubic-bezier(.4, 0, .2, 1), -webkit-transform .4s cubic-bezier(.4, 0, .2, 1);
   transition: transform .4s cubic-bezier(.4, 0, .2, 1), stroke-dasharray .4s cubic-bezier(.4, 0, .2, 1), stroke-dashoffset .4s cubic-bezier(.4, 0, .2, 1), -webkit-transform .4s cubic-bezier(.4, 0, .2, 1)
}

path:first-child {
   -webkit-transform-origin: 36% 40%;
   -ms-transform-origin: 36% 40%;
   transform-origin: 36% 40%
}

path:nth-child(2),
path:nth-child(4) {
   stroke-dasharray: 29 299
}

path:nth-child(3) {
   -webkit-transform-origin: 35% 63%;
   -ms-transform-origin: 35% 63%;
   transform-origin: 35% 63%
}

path:nth-child(5) {
   -webkit-transform-origin: 61% 52%;
   -ms-transform-origin: 61% 52%;
   transform-origin: 61% 52%
}

path:nth-child(6) {
   -webkit-transform-origin: 62% 52%;
   -ms-transform-origin: 62% 52%;
   transform-origin: 62% 52%
}

.active svg g path {
   stroke: hsl(208, 100%, 97%)
}

.active svg g {
   stroke-width: 10
}

.active svg {
   background: radial-gradient(circle at center, #e60e15 50%, transparent 50.1%);
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
   scale: .625
}

.active path {
   -webkit-transition: 350ms;
   transition: 350ms
}

.active path:first-child,
.active path:nth-child(6) {
   -webkit-transform: translateX(9px) translateY(1px) rotate(45deg);
   -ms-transform: translateX(9px) translateY(1px) rotate(45deg);
   transform: translateX(9px) translateY(1px) rotate(45deg)
}

.active path:nth-child(2),
.active path:nth-child(4) {
   stroke-dasharray: 225 299;
   stroke-dashoffset: -72px
}

.active path:nth-child(3),
.active path:nth-child(5) {
   -webkit-transform: translateX(9px) translateY(1px) rotate(-45deg);
   -ms-transform: translateX(9px) translateY(1px) rotate(-45deg);
   transform: translateX(9px) translateY(1px) rotate(-45deg)
}

#tel-number {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-flow: row nowrap;
   flex-flow: row nowrap;
   gap: .5rem;
   padding-left: .25rem;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   position: relative;
   cursor: pointer
}

#tel-number:hover i,
#tel-number:hover input {
   color: rgb(255, 253, 244)
}

#tel-number i {
   font-size: 1rem;
   color: #ffd500
}

#tel-number input {
   pointer-events: none;
   padding-left: .35rem;
   font: bolder 1.15rem/1 Orbitron;
   color: #ffd500;
   width: 95%
}

.home-page footer {
   position: relative;
   width: 97.5%;
   height: 3.75rem;
   -ms-flex-item-align: end;
   align-self: flex-end;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: end;
   -webkit-box-align: end;
   -ms-flex-align: end;
   align-items: end
}

.home-page footer img {
   position: relative;
   width: 100%;
   max-height: 4rem;
}

@media (max-width: 300px) {
   html {
      display: none
   }
}

.opacity {
   opacity: .01;
   pointer-events: none
}

.home-page main #top {
   position: relative;
   border-radius: 8px;
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
   border: 1px solid hsla(0, 0%, 100%, .2);
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-flow: column nowrap;
   flex-flow: column nowrap
}

.home-page main #bottom {
   position: relative
}

.home-page #options {
   width: 100%;
   height: 100%;
   position: relative;
   display: -ms-grid;
   display: grid;
   justify-items: center;
   padding: 2.15rem 0;
   -ms-grid-columns: 1fr 10px 1fr;
   grid-template-columns: repeat(2, 1fr);
   -ms-grid-rows: 1fr 60px 1fr;
   grid-template-rows: repeat(2, 1fr);
   gap: 55px 10px;
   grid-auto-flow: row;
   grid-template-areas: "map shtrih""fuel account"
}

.home-page #options p {
   font-family: "Tektur"
}

.home-page #top .fuel-map {
   grid-area: map
}

.home-page #top .barcode {
   grid-area: shtrih
}

.home-page #top .my-fuel {
   grid-area: fuel
}

.home-page #top .my-acc {
   grid-area: account
}

.my-acc,
.my-fuel,
.fuel-map,
.barcode {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-flow: column nowrap;
   flex-flow: column nowrap;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: .75rem;
   aspect-ratio: 1
}

.my-acc i,
.my-fuel i,
.fuel-map i,
.barcode i {
   background-color: hsla(249, 12%, 0%, .98);
   width: 6rem;
   text-align: center;
   height: 6rem;
   font-size: 2.5rem;
   border-radius: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   border: 3px solid hsla(0, 0%, 100%, .2);
   cursor: pointer
}

#options div:hover i {
   background-color: hsl(42, 100%, 50%);
   color: hsla(0, 7%, 11%, .916);
   border: 3px solid hsla(0, 0%, 100%, .715);
   scale: 1.075;
   -webkit-transition: 0.2s ease-in;
   transition: 0.2s ease-in
}

#options div:hover p {
   scale: 1.075;
   -webkit-transition: 0.2s ease-in;
   transition: 0.2s ease-in
}

.home-page header {
   position: relative;
   height: 3.75rem;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center
}

.home-page #bottom {
   height: auto;
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   border-radius: 8px;
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
   border: 1px solid hsla(0, 0%, 100%, .2);
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-flow: column nowrap;
   flex-flow: column nowrap;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 0 .2rem 1rem;
   gap: .5rem
}

.home-page main #bottom .up-section {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: 100%;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: .85rem 0;
   border-bottom: 2px dashed #1d424a
}

.home-page main #bottom .up-section p {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: .4rem;
   font-size: 1.1rem;
   font-weight: 900;
   font-family: Alice;
   position: relative
}

.home-page main #bottom #join-donat {
   font-size: .9rem;
   color: #ff9b00;
   position: relative;
   text-decoration: underline;
   font-family: "Philosopher";
   -ms-flex-item-align: baseline;
   align-self: baseline
}

.home-page main #bottom #join-donat:hover {
   color: #e8e8e8
}

.home-page main #bottom .bottom-section {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: 100%;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-flow: column nowrap;
   flex-flow: column nowrap;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 5.5px
}

.home-page main #bottom .bottom-section #mono {
   background: url(https://i.postimg.cc/HLdwbYth/mono.png) center no-repeat;
   background-size: contain;
   display: block;
   height: 1.25rem;
   width: 80%;
   -webkit-filter: invert(1) brightness(1.1);
   filter: invert(1) brightness(1.1);
   position: relative;
   margin-top: 6px
}

.home-page main #bottom .bottom-section .donat {
   font-size: 17px;
   scale: .65;
   font-family: inherit;
   font-weight: 700;
   padding: 4px;
   border-radius: 20px;
   border: none;
   -webkit-box-shadow: rgba(0, 0, 0, .1) 0 20px 25px -5px, rgba(0, 0, 0, .04) 0 10px 10px -5px;
   box-shadow: rgba(0, 0, 0, .1) 0 20px 25px -5px, rgba(0, 0, 0, .04) 0 10px 10px -5px;
   background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffd500), color-stop(47%, #ffd500), color-stop(47%, #005bbb), to(#005bbb));
   background: linear-gradient(to top, #ffd500 0, #ffd500 47%, #005bbb 47%, #005bbb 100%)
}

.home-page main #bottom .bottom-section .donat a {
   color: #fffaf0;
   font-family: Alice;
   font-weight: 400;
   margin-bottom: 2px
}

.home-page main #bottom .bottom-section .donat .button-content {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   background: hsl(0, 13.4%, 5.9%);
   padding: .95rem 1.5em .95rem 1.2em;
   border-radius: 16px;
   color: #000
}

.home-page main #bottom .bottom-section .donat svg {
   width: 22px;
   height: 22px;
   margin-right: 6px;
   color: red;
   -webkit-transition: -webkit-transform 0.3s;
   transition: -webkit-transform 0.3s;
   transition: transform 0.3s;
   transition: transform 0.3s, -webkit-transform 0.3s
}

.home-page main #bottom .bottom-section .donat:hover svg {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2)
}

.home-page main #bottom .bottom-section .donat #img-card {
   background: url(https://i.postimg.cc/9F9ncBFt/cashback.png) 0 0/contain no-repeat;
   display: block;
   height: 1.25rem;
   width: 1.75rem;
   margin-right: 5px
}

.home-page main #bottom .bottom-section .donate-description {
   font-size: .7rem;
   position: relative;
   text-align: center;
   margin-top: 8px;
   font-family: Tektur;
   opacity: .75;
   line-height: 1.25;
   width: 95%
}

.input-group {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   position: relative;
   height: 2.65rem;
   width: 100%;
   margin-inline: auto
}

.input {
   padding: 0 1rem;
   margin-inline: auto;
   height: 2.65rem;
   width: calc(100% - 5.5rem);
   position: relative;
   font-size: 15px;
   border: 1px solid #5e4dcd;
   border-radius: 6px 0 0 6px;
   background-color: transparent
}

.button--submit {
   padding: .5em 1em;
   width: 5.5rem;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   position: relative;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   word-wrap: normal;
   border: none;
   border-radius: 0 6px 6px 0;
   background-color: #5e4dcd;
   font-family: Tektur;
   font-size: .75rem;
   cursor: pointer;
   -webkit-transition: background-color .3s ease-in-out;
   transition: background-color .3s ease-in-out
}

.button--submit:hover {
   background-color: #5e5dcd
}

.input:focus,
.input:focus-visible {
   border-color: #3898ec;
   outline: 0
}

.numb-board,
.lang-board {
   position: absolute;
   visibility: hidden;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-flow: column nowrap;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   flex-flow: column nowrap;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   gap: .85rem;
   border: 1.5px solid hsla(220, 6%, 9%, 1);
   border-radius: .5rem;
   padding: .7rem;
   font-weight: 700;
   top: 17.5%;
   right: 1.25rem;
   background: hsl(39.65, 98.29%, 54.12%);
   -webkit-box-shadow: inset 0 4px 30px hsla(0, 0%, 0%, .1);
   box-shadow: inset 0 4px 30px hsla(0, 0%, 0%, .1)
}

.numb-board button,
#call {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   cursor: pointer;
   outline: none;
   border: 0;
   vertical-align: middle;
   text-decoration: none;
   background: transparent;
   padding: 0;
   font-size: inherit;
   font-family: inherit;
   position: relative
}

.numb-board button.learn-more,
#call.learn-more {
   width: 9rem;
   height: 1.65rem
}

.numb-board button.learn-more .circle,
#call.learn-more .circle {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   font-size: .75rem;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   color: hsl(60deg 55.56% 91.18%);
   margin: 0;
   width: 1.7rem;
   height: 1.7rem;
   background: #282936;
   border-radius: 1.625rem;
   text-align: center
}

.numb-board .fa-phone {
   font-size: .75rem
}

.numb-board .fa-copy {
   font-size: .6rem
}

.button-text {
   position: relative;
   font-size: .55rem;
   font-weight: 700;
   margin-left: .5rem;
   text-transform: uppercase;
   color: hsla(0, 6%, 27%, 1);
   text-align: center;
   white-space: nowrap
}

.numb-board button.active .circle {
   width: 100%;
   position: absolute;
   -webkit-transition: all 0.45s cubic-bezier(.65, 0, .076, 1);
   transition: all 0.45s cubic-bezier(.65, 0, .076, 1)
}

.numb-board button.active .fa-copy {
   text-align: right;
   width: 80%
}

.numb-board button:hover .button-text,
.numb-board a:hover .button-text {
   color: #fff;
   font-size: .55rem;
   padding-left: .25rem
}

.numb-board.active {
   width: 10.5rem;
   height: 6rem;
   left: 3rem;
   top: 5rem;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   visibility: visible;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-flow: column nowrap;
   flex-flow: column nowrap;
   -ms-flex-pack: center;
   -webkit-box-pack: center;
   justify-content: center;
   overflow: hidden;
   z-index: 31
}

.numb-board #call .circle {
   background-color: hsla(98, 87%, 35%, 1)
}

.numb-board button.active .button-text {
   padding-left: .5rem
}

#number input {
   pointer-events: none;
   padding-left: .35rem;
   font: bolder 0.8rem/1 "Orbitron";
   color: cornsilk
}

.copy {
   -webkit-animation: copy-text 0.7s cubic-bezier(.215, .61, .355, 1) both;
   animation: copy-text 0.7s cubic-bezier(.215, .61, .355, 1) both;
   -webkit-animation-delay: 0.15s;
   animation-delay: 0.15s
}

@-webkit-keyframes copy-text {
   0% {
      letter-spacing: -.5em;
      opacity: 0
   }

   40% {
      opacity: .6
   }

   100% {
      opacity: 1
   }
}

@keyframes copy-text {
   0% {
      letter-spacing: -.5em;
      opacity: 0
   }

   40% {
      opacity: .6
   }

   100% {
      opacity: 1
   }
}

#langs {
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   cursor: pointer
}

.lang-board.active {
   visibility: visible;
   -webkit-backdrop-filter: blur(7.7px);
   backdrop-filter: blur(7.7px);
   width: 7rem;
   height: 15%;
   z-index: 31
}

.lang-v>.flag .fi {
   margin-right: .3rem;
   font-size: .9rem
}

.lang-v:hover {
   color: #282936;
   cursor: pointer
}

.flag-active {
   font-size: 1.1rem;
   border-radius: 2.5px
}

.fade-in {
   -webkit-animation: fade-in 0.6s cubic-bezier(.39, .575, .565, 1) both;
   animation: fade-in 0.6s cubic-bezier(.39, .575, .565, 1) both;
   -webkit-animation-delay: 0.2s;
   animation-delay: 0.2s
}

@-webkit-keyframes fade-in {
   0% {
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
      opacity: 0
   }

   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1
   }
}

@keyframes fade-in {
   0% {
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
      opacity: 0
   }

   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1
   }
}

.puff-out {
   -webkit-animation: puff-out-center 1s cubic-bezier(.165, .84, .44, 1) both;
   animation: puff-out-center 1s cubic-bezier(.165, .84, .44, 1) both
}

@-webkit-keyframes puff-out-center {
   0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1
   }

   100% {
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0
   }
}

@keyframes puff-out-center {
   0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1
   }

   100% {
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-filter: blur(4px);
      filter: blur(4px);
      opacity: 0
   }
}